<%= render 'users/users', user: @user %>
<%= render 'books/books', book: @book %>

<h2>Books</h2>
<table>
    <thead>
        <th></th>
        <th>Title</th>
        <th>Opnion</th>
    </thead>
    <%= @books.each do |book| %>
    <tbody>
        <tr>
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <%= link_to book_path(book.id) do %>
                <td><%= book.title %></td>
            <% end %>
            <td><%= book.body %></td>
        </tr>  
    </tbody>
</table>
<% end %>