<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container" style="background-color: black;">
        <div class="row">
          <div class="col-lg-6">
            <%= link_to "Bookers", root_path %>
          </div>
          <div class="col-lg-6">
              <% if user_signed_in? %>
                <li class="list-inline-item">
                  <%= link_to user_path(current_user.id) do %>
                  <p><i class ="fas fa-home"></i>Home</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to users_path do %>
                  <p><i class ="fas fa-users"></i>Users</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to books_path do %>
                  <p><i class ="fas fa-book-open"></i>Books</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <p><i class ="fas fa-sign-out-alt"></i>Log out</p>
                  <% end %>
                </li>
              <% else %>
                <li class="list-inline-item">
                  <%= link_to root_path do %>
                  <p><i class ="fas fa-home"></i>Home</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to  about_path do %>
                  <p><i class ="fas fa-link"></i>About</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to new_user_registration_path do %>
                  <p><i class ="fas fa-user-plus"></i>Sign up</p>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= link_to new_user_session_path do %>
                  <p><i class ="fas fa-sign-in-alt"></i>Log in</p>
                  <% end %>
                </li>
              <% end %>
          </div>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>
     <footer>
      <p>CopyRight infratop.inc</p>
    </footer>
  </body>
</html>
